In [7]:
import jupyterthemes as jt

In [10]:
!jt -t monokai -T -N

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_emails = pd.read_csv('emails.csv')

In [3]:
df_emails.shape

(517401, 2)

In [4]:
df_emails.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [5]:
df_emails.isnull().sum()

file       0
message    0
dtype: int64

In [6]:
print(df_emails['message'][1])

Message-ID: <15464986.1075855378456.JavaMail.evans@thyme>
Date: Fri, 4 May 2001 13:51:00 -0700 (PDT)
From: phillip.allen@enron.com
To: john.lavorato@enron.com
Subject: Re:
Mime-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
X-From: Phillip K Allen
X-To: John J Lavorato <John J Lavorato/ENRON@enronXgate@ENRON>
X-cc:
X-bcc:
X-Folder: \Phillip_Allen_Jan2002_1\Allen, Phillip K.\'Sent Mail
X-Origin: Allen-P
X-FileName: pallen (Non-Privileged).pst

Traveling to have a business meeting takes the fun out of the trip.  Especially if you have to prepare a presentation.  I would suggest holding the business plan meetings here then take a trip without any formal business meetings.  I would even try and get some honest opinions on whether a trip is even desired or necessary.

As far as the business meetings, I think it would be more productive to try and stimulate discussions across the different groups about what is working and what is not.  Too often the presenter speaks and the others are quiet just waiting for their turn.   The meetings might be better if held in a round table discussion format.

My suggestion for where to go is Austin.  Play golf and rent a ski boat and jet ski's.  Flying somewhere takes too much time.

### Data Preprocessing

In [7]:
import email #this module is helpful for playing with email compose content and also acts as email parser

In [8]:
seperate_content_df = pd.DataFrame()

In [9]:
def getMessages(df):
    emails = [email.message_from_string(x).get_payload() for x in df['message'].values] #get's body
    return emails

In [10]:
seperate_content_df['body'] = getMessages(df_emails)

In [11]:
seperate_content_df.head()

                                                body
0                          Here is our forecast\n\n
1  Traveling to have a business meeting takes the...
2                     test successful.  way to go!!!
3  Randy,\n\n Can you send me a schedule of the s...
4                Let's shoot for Tuesday at 11:45.

In [12]:
from tqdm import tqdm

In [13]:
def getOtherFields(name, df):
    fields = [email.message_from_string(x).get(name) for x in tqdm(df['message'].values)]
    return fields

In [14]:
seperate_content_df['date'] = getOtherFields('Date', df_emails)
seperate_content_df['subject'] = getOtherFields('Subject', df_emails)
seperate_content_df['from'] = getOtherFields('X-From', df_emails)
seperate_content_df['to'] = getOtherFields('X-To', df_emails)

100%|████████████████████████████████████████████████████████████████████████| 517401/517401 [02:51<00:00, 3012.61it/s]
100%|████████████████████████████████████████████████████████████████████████| 517401/517401 [02:47<00:00, 3083.59it/s]
100%|████████████████████████████████████████████████████████████████████████| 517401/517401 [02:44<00:00, 3136.54it/s]
100%|████████████████████████████████████████████████████████████████████████| 517401/517401 [02:49<00:00, 3046.96it/s]

In [17]:
seperate_content_df.head(10)

,body,date,subject,from,to
0,Here is our forecast\n\n,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>
1,Traveling to have a business meeting takes the...,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...
2,test successful. way to go!!!,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",Re: test,Phillip K Allen,Leah Van Arsdall
3,"Randy,\n\n Can you send me a schedule of the s...","Mon, 23 Oct 2000 06:13:00 -0700 (PDT)",,Phillip K Allen,Randall L Gay
4,Let's shoot for Tuesday at 11:45.,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",Re: Hello,Phillip K Allen,Greg Piper
5,"Greg,\n\n How about either next Tuesday or Thu...","Thu, 31 Aug 2000 04:17:00 -0700 (PDT)",Re: Hello,Phillip K Allen,Greg Piper
6,Please cc the following distribution list with...,"Tue, 22 Aug 2000 07:44:00 -0700 (PDT)",,Phillip K Allen,"david.l.johnson@enron.com, John Shafer"
7,any morning between 10 and 11:30,"Fri, 14 Jul 2000 06:59:00 -0700 (PDT)",Re: PRC review - phone calls,Phillip K Allen,Joyce Teixeira
8,1. login: pallen pw: ke9davis\n\n I don't thi...,"Tue, 17 Oct 2000 02:26:00 -0700 (PDT)",Re: High Speed Internet Access,Phillip K Allen,Mark Scott
9,---------------------- Forwarded by Phillip K ...,"Mon, 16 Oct 2000 06:44:00 -0700 (PDT)",FW: fixed forward or other Collar floor gas pr...,Phillip K Allen,zimam@enron.com

In [18]:
seperate_content_df.isnull().sum()

body        0
date        0
subject     0
from       29
to         29
dtype: int64

In [20]:
!pip install dateparser

Collecting dateparser
  Downloading dateparser-1.0.0-py2.py3-none-any.whl (279 kB)
Requirement already satisfied: regex!=2019.02.19 in c:\users\lenovo\anaconda3\lib\site-packages (from dateparser) (2020.10.15)
Collecting tzlocal
  Downloading tzlocal-2.1-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pytz in c:\users\lenovo\anaconda3\lib\site-packages (from dateparser) (2020.1)
Requirement already satisfied: python-dateutil in c:\users\lenovo\anaconda3\lib\site-packages (from dateparser) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil->dateparser) (1.15.0)
Installing collected packages: tzlocal, dateparser
Successfully installed dateparser-1.0.0 tzlocal-2.1

In [30]:
from dateutil import parser

In [34]:
print(parser.parse("Mon, 14 May 2001 16:39:00 -0700").strftime("%H:%M:%S"))

print(parser.parse("Mon, 14 May 2001 16:39:00 -0700").strftime("%d-%m-%Y"))

16:39:00
14-05-2001

In [37]:
def parsing_date(dt):
    tm = parser.parse(dt).strftime("%H:%M:%S")
    return tm

In [38]:
a = seperate_content_df['date'].apply(parsing_date)

In [39]:
seperate_content_df['Time'] = a

In [42]:
b = seperate_content_df['date'].apply(lambda x: parser.parse(x).strftime("%d-%m-%Y"))

In [44]:
seperate_content_df['Date'] = b

In [47]:
seperate_content_df.drop(['date'], inplace=True, axis=1)

In [48]:
seperate_content_df.head()

,body,subject,from,to,Time,Date
0,Here is our forecast\n\n,,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,16:39:00,14-05-2001
1,Traveling to have a business meeting takes the...,Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,13:51:00,04-05-2001
2,test successful. way to go!!!,Re: test,Phillip K Allen,Leah Van Arsdall,03:00:00,18-10-2000
3,"Randy,\n\n Can you send me a schedule of the s...",,Phillip K Allen,Randall L Gay,06:13:00,23-10-2000
4,Let's shoot for Tuesday at 11:45.,Re: Hello,Phillip K Allen,Greg Piper,05:07:00,31-08-2000

In [53]:
seperate_content_df.to_csv('cleaned_emails.csv', header=['body', 'subject', 'From', 'To', 'Time', 'Date'], index=False)

In [4]:
new_df = pd.read_csv('cleaned_emails.csv')

In [6]:
new_df.head()

,body,subject,From,To,Time,Date
0,Here is our forecast\n\n,NaN,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,16:39:00,14-05-2001
1,Traveling to have a business meeting takes the...,Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,13:51:00,04-05-2001
2,test successful. way to go!!!,Re: test,Phillip K Allen,Leah Van Arsdall,03:00:00,18-10-2000
3,"Randy,\n\n Can you send me a schedule of the s...",NaN,Phillip K Allen,Randall L Gay,06:13:00,23-10-2000
4,Let's shoot for Tuesday at 11:45.,Re: Hello,Phillip K Allen,Greg Piper,05:07:00,31-08-2000

In [9]:
import re

In [10]:
#Cleaning Data
def getCleanData(data):
    data = re.sub(r"[^A-Za-z?.!,']+", " ", data)
    data = data.lower()
    data = data.strip()
    return data

In [11]:
x = new_df['body'].apply(getCleanData)
             
new_df['clean_body'] = x

In [12]:
new_df.head()

,body,subject,From,To,Time,Date,clean_body
0,Here is our forecast\n\n,NaN,Phillip K Allen,Tim Belden <Tim Belden/Enron@EnronXGate>,16:39:00,14-05-2001,here is our forecast
1,Traveling to have a business meeting takes the...,Re:,Phillip K Allen,John J Lavorato <John J Lavorato/ENRON@enronXg...,13:51:00,04-05-2001,traveling to have a business meeting takes the...
2,test successful. way to go!!!,Re: test,Phillip K Allen,Leah Van Arsdall,03:00:00,18-10-2000,test successful. way to go!!!
3,"Randy,\n\n Can you send me a schedule of the s...",NaN,Phillip K Allen,Randall L Gay,06:13:00,23-10-2000,"randy, can you send me a schedule of the salar..."
4,Let's shoot for Tuesday at 11:45.,Re: Hello,Phillip K Allen,Greg Piper,05:07:00,31-08-2000,let's shoot for tuesday at .

In [14]:
df = new_df.drop(['body', 'subject', 'From', 'To'], axis=1)

In [15]:
df.head()

       Time        Date                                         clean_body
0  16:39:00  14-05-2001                               here is our forecast
1  13:51:00  04-05-2001  traveling to have a business meeting takes the...
2  03:00:00  18-10-2000                      test successful. way to go!!!
3  06:13:00  23-10-2000  randy, can you send me a schedule of the salar...
4  05:07:00  31-08-2000                       let's shoot for tuesday at .

Here, I am trying to split the message of the body to 2 seperate parts and would like to generate the 2nd part of the sequence by passing 1st part of the sequence as input

In [21]:
import keras
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [22]:
SENTENCE_MAX_WORDS = 20

def generate_dataset(emails):
  contents = emails['clean_body']
  output = []
  vocabulary_sentences = []

  for content in contents:
    # Skip emails longer than one sentence
    if (len(content) > SENTENCE_MAX_WORDS * 5):
        continue

    sentences = content.split(' . ')
    for sentence in sentences:
      # Remove user names from start or end of sentence. This is just an heuristic
      # but it's more efficient than compiling the list of names and removing all of them
      sentence = re.sub("(^\w+\s,\s)|(\s,\s\w+$)", "", sentence)
      words = sentence.split(' ')

      if ((len(words) > SENTENCE_MAX_WORDS) or (len(words) < 2)):
        continue

      vocabulary_sentences.append('<start> ' + sentence + ' <end>')

      for i in range(1, len(words) - 1):
        input_data = '<start> ' + ' '.join(words[:i+1]) + ' <end>'
        output_data = '<start> ' + ' '.join(words[i+1:]) + ' <end>'
        data = (input_data, output_data)
        output.append(data)

  return output, vocabulary_sentences

pairs, vocabulary_sentences = generate_dataset(df)

In [23]:
print(len(pairs))
print(len(vocabulary_sentences))
print(*pairs[:10], sep='\n')
print(*vocabulary_sentences[:10], sep='\n')

392631
54934
('<start> here is <end>', '<start> our forecast <end>')
('<start> here is our <end>', '<start> forecast <end>')
('<start> test successful. <end>', '<start> way to go!!! <end>')
('<start> test successful. way <end>', '<start> to go!!! <end>')
('<start> test successful. way to <end>', '<start> go!!! <end>')
("<start> let's shoot <end>", '<start> for tuesday at . <end>')
("<start> let's shoot for <end>", '<start> tuesday at . <end>')
("<start> let's shoot for tuesday <end>", '<start> at . <end>')
("<start> let's shoot for tuesday at <end>", '<start> . <end>')
('<start> greg, how <end>', '<start> about either next tuesday or thursday? phillip <end>')
<start> here is our forecast <end>
<start> test successful. way to go!!! <end>
<start> let's shoot for tuesday at . <end>
<start> greg, how about either next tuesday or thursday? phillip <end>
<start> any morning between and <end>
<start> paula, million is fine phillip <end>
<start> i think fletch has a good cpa. i am still doing my own. <end>
<start> nymex expiration is during this time frame. please reschedule. <end>
<start> greg, happy b day. email me your phone and i will call you. keith <end>
<start> jeff, what is up with burnet? phillip <end>

In [24]:
import tensorflow as tf
from tensorflow import keras

In [25]:
vocab_max_size = 10000

def tokenize(text):
  tokenizer = keras.preprocessing.text.Tokenizer(filters='', num_words=vocab_max_size)
  tokenizer.fit_on_texts(text)

  return tokenizer

input = [pair[0] for pair in pairs]
output = [pair[1] for pair in pairs]
tokenizer = tokenize(vocabulary_sentences)

encoder_input = tokenizer.texts_to_sequences(input)
decoder_input = tokenizer.texts_to_sequences(output)

decoder_target = [
  [decoder_input[seqN][tokenI + 1]
   for tokenI in range(len(decoder_input[seqN]) - 1)]
    for seqN in range(len(decoder_input))]

# Convert to np.array
encoder_input = np.array(encoder_input)
decoder_input = np.array(decoder_input)
decoder_target = np.array(decoder_target)

<ipython-input-25-5a0c6c8eb86a>:22: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  encoder_input = np.array(encoder_input)
<ipython-input-25-5a0c6c8eb86a>:23: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  decoder_input = np.array(decoder_input)
<ipython-input-25-5a0c6c8eb86a>:24: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  decoder_target = np.array(decoder_target)